* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.5)),url('Fondo_Verduras.jpg');
    background-size: cover;
    background-position: center;
}

.right {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.fields {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fields h1 {
    margin-bottom: 20px;
}

.fields label {
    margin-top: 10px;
    width: 100%;
}

.fields input {
    padding: 10px;
    margin-top: 5px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-button {
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    background-color: #004680;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-button:hover {
    background-color: #003366;
}
