*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    background-color: #f0f0f0
    
}

.navbar{
    background-color: #003755;
    display: flex;
    width: 95vw;
    height: 10vh;
    
    align-items: center;
    justify-content: space-between;
    
    padding: 10px 12px;
    
    li{
        list-style: none;
        text-align: justify;
        font-size: 1.7rem;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: rgb(255, 255, 255);
        justify-content: space-between;
        text-decoration: none;
    }
    a{
        color: white;
        text-decoration: none;
    }
    a:hover{
        color: #049800;
    }
    
    
}
header{
    position: relative;
    padding: 0 2rem;
}
.navbar .logo{
   position: relative;
   

}
.navbar .links{
    display: flex;
    gap: 2rem
}
 #inicioS{
    background-color: #003755;
 }

 #inicioS.hover{
    color: white;
    transform: scale(2,2);
 }
 #inicioU{
    color: white;
 }
 #inicioU.hover{
    color: white;
    transform: scale(2,2);
 }
.action_btn{
   
        float: right; 
        color: #fff;
        border: none;
        padding: 0.5rem 1.5rem;
        outline: none;
        border-radius: 5px;
        font-size: 1rem;
        
        cursor: pointer;
        background: rgb(14, 148, 48);   
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        
}

.botones{
    float: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}
.div-carr{
    display: grid;
    grid-template-columns: repeat(2,42vw);
    padding-top: 5vw;
    padding-left: 5vw;
    padding-bottom: 5vw;
    height: 100%;
    grid-gap: 4vw;
}
.carrusel {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    width: 45vw; 
    margin: 0 auto;
    overflow: hidden;
    height: 42vh;

}
.slider{
    width: 45vw;
    
    height: 42vh;
    margin: auto;
    position: relative;
}
.list{
    position: absolute;
    top: 0; 
    left: 0;
    height: 45vw;
    display: flex;  
    width: 42vw;
}

.list img{
    width: 45vw;
    height: 42vh;
    object-fit: cover;

}
.slider .list {
    position: relative;
    transition: left 0.5s ease-in; /* Transition for smooth animation */
}

.buttons-carousel{
    position: absolute;
    top: 45%;
    left: 0%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.buttons-carousel button{
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.333);
    border-color: rgba(145, 198, 245, 0);
    color: rgba(255, 255, 255, 0.692);
    font-family: monospace;
    font-weight: bold;
    font-size: x-large;
}
.dots{
    position: absolute;
    bottom: 10px;
    color: white;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.dots li{
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: #0b8649;
    margin: 20px;
    border-radius: 20px;
}
.dots li.active{
    width: 30px;
    
}

.imagen img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease;
    }

    .imagen:hover{
        transition-duration: 0.5s ease;
        transform: scale(1.1);
    }

.texto {
    flex: 1;
    padding: 20px;
    padding-left: 7vw;
    border-radius: 10px;
    
}

.texto p {
    margin-top: 15vh; 
    font-family: 'Oswald', sans-serif; 
    font-size: 1.5rem; 
    color: #333; 
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); 
    
    text-align: center;
}
.btnDS {
    background-color:#003755; 
    color: white;
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    font-size: 1.2rem;
    cursor: pointer; 
    display: block; 
    margin: 20px auto; 
}
.btnDS:hover{
    transform: scale(1.1);
    color: #049800;
}
.footer-contenido{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-column-gap: 24px;
    width: 95vw;
    padding-top: 12px;
    justify-content: space-between;
    margin: 0 auto;
    background-color: #003755;

}
.footer-comunidad{
    display: block;
}
.footer-icongroup{
    display: grid;
    grid-template-columns: repeat(4,24px);
    grid-gap: 24px;
    margin-top: 28px;
}
.footer-icongroup a{
    text-decoration: none;
    color: white;
}
.titulos-footer{
    color: white;
    text-align: left;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    margin: 0;
}
footer{
    background-color: #003755;
}
.footer-navlist{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 24px;
}
.footer-navlist-item-list{
    list-style: none;
    margin-top: 18px;
    ul{
       display: block;
       margin-block-start: 0cm;
       margin-block-end: 1cm;
       padding-inline-start: 40px;
    }
}
.footer-navlist-item li a{
    
        display: grid;
        grid-template-columns: repeat(1,1fr);
        color: white;
        text-decoration: none;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 14px;
        padding: 8px;
        width: max-content;
        a {
            color: #fff;
            text-decoration: none;
            font-weight: bold;
            
        }
        
        a:hover {
            text-decoration: underline;
        }
        
    
}
.footer-copy{
        margin: 50px auto 0;
        padding: 20px;
        text-align: center;
        
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: white;
        a {
            color: #fff;
            text-decoration: none;
            font-weight: bold;
        }
        
        a:hover {
            text-decoration: underline;
        }
}

