*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
    font-family: 'Poppins', sans-serif; 
}


body{
    background-color: #f0f0f0
    
}
html{
    scroll-behavior: smooth;
}

.navbar{
    background-color: #003755;
    display: flex;
    width: 95vw;
    height: 10vh;
    
    align-items: center;
    justify-content: space-between;
    
    padding: 10px 12px;
    
    li{
        list-style: none;
        text-align: justify;
        font-size: 1.7rem;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: rgb(255, 255, 255);
        justify-content: space-between;
        text-decoration: none;
    }
    a{
        color: white;
        text-decoration: none;
    }
    a:hover{
        color: #049800;
    }
    
    
}
header{
    position: relative;
    padding: 0 2rem;
    /*position: sticky;
    top: 0;
    z-index: 999;*/
}
.navbar .logo{
   position: relative;
   

}
.navbar .links{
    display: flex;
    gap: 2rem
}
 #inicioS{
    background-color: #003755;
 }

 #inicioS.hover{
    color: white;
    transform: scale(2,2);
 }
 #inicioU{
    color: white;
 }
 #inicioU.hover{
    color: white;
    transform: scale(2,2);
 }
.action_btn{
   
        float: right; 
        color: #fff;
        border: none;
        padding: 0.5rem 1.5rem;
        outline: none;
        border-radius: 5px;
        font-size: 1rem;
        
        cursor: pointer;
        background: rgb(14, 148, 48);   
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        
}

.botones{
    float: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}
.div-carr{
    display: grid;
    grid-template-columns: repeat(2,42vw);
    padding-top: 5vw;
    padding-left: 5vw;
    padding-bottom: 5vw;
    height: 100%;
    grid-gap: 4vw;
}
.carrusel {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    width: 45vw; 
    margin: 0 auto;
    overflow: hidden;
    height: 42vh;

}
.slider{
    width: 45vw;
    
    height: 42vh;
    margin: auto;
    position: relative;
}
.list{
    position: absolute;
    top: 0; 
    left: 0;
    height: 45vw;
    display: flex;  
    width: 42vw;
}

.list img{
    width: 45vw;
    height: 42vh;
    object-fit: cover;

}
.slider .list {
    position: relative;
    transition: left 0.5s ease-in; /* Transition for smooth animation */
}

.buttons-carousel{
    position: absolute;
    top: 45%;
    left: 0%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.buttons-carousel button{
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.333);
    border-color: rgba(145, 198, 245, 0);
    color: rgba(255, 255, 255, 0.692);
    font-family: monospace;
    font-weight: bold;
    font-size: x-large;
}
.dots{
    position: absolute;
    bottom: 10px;
    color: white;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.dots li{
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: #0b8649;
    margin: 20px;
    border-radius: 20px;
}
.dots li.active{
    width: 30px;
    
}

.imagen img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease;
    }

    .imagen:hover{
        transition-duration: 0.5s ease;
        transform: scale(1.1);
    }

.texto {
    flex: 1;
    padding: 20px;
    padding-left: 7vw;
    border-radius: 10px;
    
}

.texto p {
    margin-top: 15vh; 
    font-family: 'Oswald', sans-serif; 
    font-size: 1.5rem; 
    color: #333; 
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); 
    
    text-align: center;
}
.btnDS {
    background-color:#003755; 
    color: white;
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    font-size: 1.2rem;
    cursor: pointer; 
    display: block; 
    margin: 20px auto; 
}
.btnDS:hover{
    transform: scale(1.1);
    color: #049800;
}
.footer-contenido{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-column-gap: 24px;
    width: 95vw;
    padding-top: 12px;
    justify-content: space-between;
    margin: 0 auto;
    background-color: #003755;

}
.footer-comunidad{
    display: block;
}
.footer-icongroup{
    display: grid;
    grid-template-columns: repeat(4,24px);
    grid-gap: 24px;
    margin-top: 28px;
}
.footer-icongroup a{
    text-decoration: none;
    color: white;
}
.titulos-footer{
    color: white;
    text-align: left;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    margin: 0;
}
footer{
    background-color: #003755;
}
.footer-navlist{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 24px;
}
.footer-navlist-item-list{
    list-style: none;
    margin-top: 18px;
    ul{
       display: block;
       margin-block-start: 0cm;
       margin-block-end: 1cm;
       padding-inline-start: 40px;
    }
}
.footer-navlist-item li a{
    
        display: grid;
        grid-template-columns: repeat(1,1fr);
        color: white;
        text-decoration: none;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 14px;
        padding: 8px;
        width: max-content;
        a {
            color: #fff;
            text-decoration: none;
            font-weight: bold;
            
        }
        
        a:hover {
            text-decoration: underline;
        }
        
    
}
.footer-copy{
        margin: 50px auto 0;
        padding: 20px;
        text-align: center;
        
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: white;
        a {
            color: #fff;
            text-decoration: none;
            font-weight: bold;
        }
        
        a:hover {
            text-decoration: underline;
        }
}

#bienvenido-div {
    padding: 10px;
    text-align: center;
    margin: 10px 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5rem;
    border-radius: 5px;
}
.main-titulo{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;    color: #002c9b;
    padding-top: 12vh;
    text-align: center;
}
.platillos {
    font-family: "HelveticaNeue";
}

.titulos-planes {
    font-size: 22px;
    margin: 20px 0;
    font-weight: 600;
    line-height: 1.2;
    color: #303236;
    text-align: center;
}

.platillos-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
    padding-right: 10%; 
}

.card {
    position: relative;
    width: 100%;
    max-width: 300px;
    height: 400px;
    margin: auto;
}

.card .card_landing {
    position: relative;
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 10px #000;
    background: linear-gradient(transparent 80%, #000), var(--i);
    background-position: center;
    background-size: cover;
    z-index: 100;
}

.card .card_landing h6 {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 25px;
    color: #fff;
}

.card .card_info {
    position: absolute;
    width: 90%;
    height: 90%;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    margin: auto;
    padding: 15px;
    background: #fff;
    z-index: 90;
    box-shadow: 0 5px 10px #000;
    transition: .5s;
}

.card:hover .card_info {
    left: 100%;
}

.card_info .head {
    padding: 5px 0;
    border-bottom: solid 1px #bc8811;
}

.card_info .head .title {
    font-size: 20px;
    font-weight: 700;
    color: #003755;
}

.card_info .head .description {
    display: flex;
    gap: 10px;
}

.card_info .head .description .item {
    display: flex;
    gap: 5px;
    align-items: center;
}

.card_info .head .description .item i {
    color: #003755;
    font-size: 15px;
}

.card_info .head .description .item p {
    font-size: 13px;
}

.card_info .content {
    margin-top: 15px;
}

.card_info .content .title {
    font-weight: bold;
}

.card_info .content .list-card p {
    font-size: 14px;
    margin-bottom: 5px;
}

.card_info .action .btn {
    padding: 10px;
    color: #fff;
    width: 100%;
    text-decoration: none;
    text-align: center;
    background: #049800;
    display: block;
    margin-top: 10px;
}


@media (max-width: 767px) {
    .platillos-container {
        grid-template-columns: 1fr;
        padding-left: 5%;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .platillos-container {
        grid-template-columns: 1fr 1fr;
        width: 100%;
        margin: 0 auto;
    }
}

@media (min-width: 1200px) {
    .platillos-container {
        grid-template-columns: 1fr 1fr;
        width: 100%;
        margin: 0 auto;
    }
}
.mini-navbar{
    background-color: #ffffff;
    padding: 0;
    
    top: 10vh;
    height: 51px;
    width: 100%;
    
    font-size: 13px;
    border-bottom: 1px solid #e4e6eb;
    -webkit-box-shadow: 0px 1px 8px rgba(0,0,0,0.02);
    box-shadow: 0px 1px 8px rgba(0,0,0,0.02)
}

.contenedor.Mnavbar {
    margin-right: auto;
    margin-left: auto;
    zoom:1;
}

.contenedor.Mnavbar:after {
    content: "";
    display: table;
    clear: both
}

@media (max-width: 768px) {
    .contenedor.Mnavbar {
        overflow:hidden
    }
}

@media (min-width: 768px) {
    .contenedor.Mnavbar {
        width:750px
    }
}

@media (min-width: 962px) {
    .contenedor.Mnavbar {
        width:940px
    }
}

@media (min-width: 1200px) {
    .contenedor.Mnavbar {
        width:1170px
    }
}
.Mnavbar-contenido{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding-left: 38px;
}
.Mnavbar-ligas{
    float: left;
    width: 700px;
    
    font-family: "Cera Pro", "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", "TeXGyreHerosRegular", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
    font-weight: 400;
    color: #6a6d75;
    font-size: 14px;
    padding: 0 5px;
    margin: 0;
    height: 50px;
    line-height: 50px;
    display: inline-block;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    ul{
        display: flex;
        list-style-type: disc;
        padding-inline-start: 40px;
        unicode-bidi: isolate;
        list-style: none;
        padding-right: 12px;
    }
    li{
        display: list-item;
        text-align: -webkit-match-parent;
        unicode-bidi: isolate;
        margin-left: 18px;
        list-style: none;
    }
    a{
        text-decoration: none;
        font-family: "Cera Pro", "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", "TeXGyreHerosRegular", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
        font-weight: 400;
        color: #6a6d75;
    }
    a:hover{
        color: #0d2b58
    }
    
}
.Mnavbar-info{
    padding-right: 15vw;
    color: #1eb392;
    font-weight: bold;
    font-family: "Arial";
    font-style: normal;
    
}

.card_info .action .btn {
    padding: 10px;
    color: #fff;
    width: 100%;
    text-decoration: none;
    text-align: center;
    background: #049800;
    display: block;
    margin-top: 10px;
    
} 